apiVersion: v1
kind: Service

metadata: 
  name: url-shortener-service
  namespace: url-shortener

spec:
  type: ClusterIP
  selector:
    api: url-shortener-api
  ports:
    - port: 80
      targetPort: 3333