apiVersion: apps/v1
kind: Deployment
metadata:
  name: url-shortener
  namespace: staging
spec:
  replicas: 3
  selector:
    matchLabels:
      api: url-shortener-api
  template:
    spec:
      containers:
        - name: url-shortener-api
          image: vinciusaf/url-shortener-api:staging
          resources:
            requests:
              cpu: 200m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
